* {
    font-family: 'open sans';
}

p {
    margin-bottom: 30px;
}

body {
    background: #979d9d;
    margin: auto;
}

#logoText {
    vertical-align: center;
}

.selectedItem {
    background: gray;
}

nav li {
	float: left;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

nav li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Calibri;
    font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

.tabInterface {
    background: gray;
}

.mainArea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 75%;
    margin: auto;
    font-size: 20px;
    border: black 2px 5px solid;
}

#featureImage {
    border: black 5px;
}

.gallery {
    background-color: purple;
    display: inline-block;
}

h1 {
    font-size: 36px;
}

.centerVerticalAlign {
    display: inline-block;
    vertical-align: middle;
}

.changeImageButton {
    font-size: 24px;
}

.centerAlign {
    text-align: center;
}

.thumbnail {
   margin: auto;
   vertical-align: middle; 
   display: inline-block;
}